.form {
  max-width: 20rem;
  margin: 2rem auto;
  border-color: black;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
}

h1 {
  font-size:30px;
  font-weight: bold;
  padding-bottom: 10%;
}
.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25rem;
  border-radius: 8px;
  border-color:black;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: #C20E2F;
  color: var(--color-gray-100);
  border-width: 1px;
  border-color: black;
  margin-top: 5px;
}

.actions a {
  text-decoration: none;
  background-color: transparent;
  color: var(--color-gray-900);
}

.actions button:hover {
  background-color: var(--color-primary-300);
}

.actions a:hover {
  background-color: #C20E2F;
  color: white;
  border-width: 1px;
  border-color: black
}
