.brand {
  display: flex;
  align-items: center;
}
.logo {
  height: 40px;
  margin-right: 0.7rem;
}

.title {
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--color-gray-100);

}
.upper{
  display:flex;
  justify-content: space-between;
}

.nav{
  max-width: 60rem;

}
.divider {
  top: 20px;
  border: none;
  border-top: 2px solid var(--color-gray-100);
  margin: 1rem 0;
  width: 100%;

}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: var(--color-gray-100);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);

}
