.brand {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; /* 필요시 */
}
.divider {
  border: none;
  border-top: 2px solid var(--color-gray-100); /* 혹은 원하는 색상 */
  margin: 1rem 0;
  width: calc(100% + 40rem);
}


.logo {
  height: 40px; /* 원하는 크기로 조절 */
  margin-right: 0.7rem;
}

.title {
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--color-gray-100);

}

.header {
  background-color: rgb(0, 78, 150);
  max-width: 60rem;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: var(--color-gray-100);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}
